.createuserwindow {
    display: flex;
    justify-content: center;
}


/* .createusermain {
    width: 70vw;
    height: 80vh;
    border: 1px solid black;
    display: flex;
}

.left {
    width: 50%;
}

.createuserimg {
    width: 40vw;
    height: 80vh;
} */