@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");

.customNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-color: transparent;
}

.navRight{
    display: flex;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #00028d;
}

a:hover {
    text-decoration: none;
  cursor: pointer;
  color: blue;
  transform: scale(1.1);
}
.navItems{
    padding: 0rem 1rem;
}

