@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");

.customNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-color: transparent;
}

.navRight{
    display: flex;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #00028d;
}

a:hover {
    text-decoration: none;
  cursor: pointer;
  color: blue;
  transform: scale(2);
}
.navItems{
    padding: 0rem 1rem;
}

/* .customNav a:before
{
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    top: 0px;
    content: '';
    background: #FFF;
    opacity: 0.3;
    transition: all 0.3s;
}

.customNav a:hover:before
{
    height: fit-content;
} */
