@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.intro {
  background: #eaf0f1;
  height: 10%;
}
.introText {
  margin-top: 2rem;
}
.h1Text {
  color: #ffffff;
  font-weight: bold;
  transition: 0.5s;
  font-size: 5rem;
}

.waviy {
  margin-top: 10rem;
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
  font-size: 60px;
}
.waviy span {
  font-family: "Alfa Slab One", cursive;
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(0.1s * var(--i));
}
@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}

.text {
  color: #ffffff;
}
h3 {
  color: #ffffff;
}
.bankImg {
  width: 60vw;
  height: 100vh;
  background-image: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.856),
      rgba(0, 0, 0, 0.582)
    ),
    url(bank3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  border: none;
  border-radius: 8px;
  padding: 10px;
  background: #7b8788;
  color: white;
  letter-spacing: 1.5px;
  font-size: 15px;
  transition: 0.5s;
}
button:hover,
h1:hover {
  transform: scale(1.1);
}
button:hover {
  background-color: #4c4b4b;
}

.cardContents {
  display: flex;
  align-items: center;
  width: 100%;
}

footer {
  /* color: #586776; */
  background-color: #eaf0f1;
  letter-spacing: 0.5px;
}
footer p {
  margin: 0;
  font-size: 15px;
}
@media only screen and (orientation: portrait) {
  .intro {
    display: flex;
    flex-direction: column-reverse;
  }
  h1 {
    font-size: 30px;
  }
  .act {
    padding-bottom: 100px;
  }
}
